version: "3.6"
services:

  db:
    image: postgres:11-alpine
    environment:
      - POSTGRES_DB=wiki
      - POSTGRES_PASSWORD=wikijsrocks
      - POSTGRES_USER=wikijs
    logging:
      driver: "none"
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - nginx-proxy-network
  wiki:
    image: requarks/wiki:2
    depends_on:
      - db
    environment:
      - DB_TYPE=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=wikijs
      - DB_PASS=wikijsrocks
      - DB_NAME=wiki
      - VIRTUAL_HOST=wiki.backendteam.xyz
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=wiki.backendteam.xyz
      - LETSENCRYPT_EMAIL=email@wiki.backendteam.xyz
      - WIKI_HOST=https://wiki.backendteam.xyz:443 # Change hostname here if required
    restart: unless-stopped
    ports:
      - "801:3000"
    expose:
      - 80
      - 3000
    networks:
      - nginx-proxy-network

volumes:
  db-data:

networks:
  nginx-proxy-network:
    external: true